:root{
    --primary-color-:#00a850;
    --seconder-color-:#ffc222;
}

i{
    cursor: pointer;
}

*{
    outline: none;
}
.petafooter{
    background: var(--primary-color-);
}
.footerspan{
    color: var(--seconder-color-);
}